@import "../../styles/root.scss";

$cube: 60px;

.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.cube {
    width: $cube;
    height: $cube;
    margin: 10px;
    perspective: 6000px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;

    &:hover {
        transform: rotateY(180deg);
    }
}

.side {
    position: absolute;
    width: $cube;
    height: $cube;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    background-color: $silver;
    color: $white;
}

.front,
.back {
    background-color: $ghost;
}

.front {
    transform: rotateY(0deg) translateZ($cube/2);
}

.back {
    transform: rotateY(180deg) translateZ($cube/2);
}

.left {
    transform: rotateY(-90deg) translateZ($cube/2);
}

.right {
    transform: rotateY(90deg) translateZ($cube/2);
}

.top {
    transform: rotateX(90deg) translateZ($cube/2);
}

.bottom {
    transform: rotateX(-90deg) translateZ($cube/2);
}

.active {
    transform: rotateY(180deg);

    .back {
        background-color: rgba($ghost, 70%);
    }
}

@media (max-width: $laptop) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        transform: translateX(-50%);
        top: 0;
        left: 50%;

        .cube:hover {
            transform: rotateX(-180deg);
        }

        .active {
            transform: rotateX(-180deg);
        }

        .back {
            transform: rotateX(-180deg) translateZ($cube/2);
        }
    }
}
