.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    min-height: 80vh;
    max-height: 85vh;
    overflow: hidden;
    animation: appear 1s 3s forwards;
}

.card {
    animation: deal 1s ease-in-out forwards;
    margin: 1rem 0;
}

@keyframes appear {
    to {
        overflow-y: auto;
    }
}

@keyframes deal {
    to {
        transform: translateY(0) translateX(0);
        margin: 1rem;
    }
}
