@import "../../styles/root.scss";

$photoSize: 250px;
.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 0.9;
    }

    p {
        font-size: 1.1rem;
    }
}

.photo {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background: url("../../assets/jpg/me.png");
    width: $photoSize;
    height: $photoSize;
    background-size: cover;
    transition: all 1s ease-in-out;
    border: 2px dashed rgba($white, 90%);
    position: relative;
    animation: wave 5s ease-in-out infinite;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($ghost, 40%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        animation: wave 5s ease-in-out infinite;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        a {
            opacity: 1;
            &:hover {
                scale: 1.05;
            }
        }
    }

    a {
        z-index: 2;
        opacity: 0;
        transition: 0.2s;
    }
}

@keyframes wave {
    0%,
    100% {
        border-radius: 65% 35% 65% 35% / 29% 51% 49% 71%;
    }
    50% {
        border-radius: 42% 58% 38% 62% / 46% 41% 59% 54%;
    }
}
