@import "../../styles/root.scss";

.rating {
    display: none;
    gap: 0.5rem;
}

.opened {
    display: flex;
}

.star {
    opacity: 0;
    transform: scale(0.5);
    animation: appear 0.5s forwards;

    &.filled {
        transition: all 1s;
        fill: $gold;
        animation: appear 0.5s forwards, fillAnimation 4s infinite;
    }
}

@keyframes appear {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fillAnimation {
    0%,
    100%,
    25%,
    75% {
        fill: $gold;
    }
    50% {
        fill: rgba($gold, 60%);
    }
}
