// colors
$primary: #5680e9;
$secondary: #77b9d4;
$ice: #5ab9ea;
$ghost: #c1c8e4;
$purple: #8860d0;
$white: #ffffff;
$black:#333333;
$gold: #eeff00;
$silver: #e7dada;

// resolutions

$phone: 480px;
$table: 600px;
$laptop: 880px;
